

/* General */

body {
  font-family: "Verdana";
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 30px;
}


/* Navbar */

.navbar {
  font-size: 24px;
  width: 300px;
  height: 100%;
  position: fixed;
  border-right: 2px solid #808080;
  top: 5%;
  height: 90%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 100px 25%;
}

.navbar li {
  margin-right: 40px;
  margin: 20px 0;
}

.navbar img {
  width: 20px;
  height: 20px;
}

/* Container */

.container {
  width: 75%;
  position: absolute;
  left: 300px;
}


/* Welcome Section */

.welcome-section {
  padding: 0 15%;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 100px;
}


/* Section */

.section {
  padding: 0 15%;
  margin-top: 25px;
  padding-bottom: 25px;
  line-height: 25px;
}

.section a {
  color: #ff8000;
}
