
/* HTML element overrides */

img {
	width: 100%;
	max-width: 300px;
}


/* Bulma class overrides */

.row {
	margin-bottom: 10px;
}

.column {
	padding-top: 0;
	padding-bottom: 0;
}


/* Custom classes */

.line-top {
	border-top: 2px solid #46bbb5;
}

.section-size {
	margin: 0 auto;
	width: 100%;
}

.is-width1 {
	max-width: 750px;
}

.is-width2 {
	max-width: 1000px;
}

.color-bgcircle {
	background-color: #46bbb5;
}

.color-bgsection {
	background-color: #faf8e8;
}

.color-bgfooter {
	background-color: #6b6a5f;
}

.color-tfooter {
	color: #e9e7d5;
}

.color-ticon {
	color: #ffffff;
}

.icon {
	font-size: 100px;
	margin: 50px;
}

.skill-tag {
  background: #c9c7b7;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 500;
}
