---
const { title } = Astro.props;
---

<div class="category">
  <h3>{title}</h3>
  <div class="tags">
    <slot />
  </div>
</div>

<style>
  .category {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background-color: var(--white);
    border-radius: 5px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .category h3 {
    color: var(--primary-color);
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
  }
</style>
